/* Classes */

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
}
.logo {
  width: 250px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.playerCard {
  width: 120px;
  height: 170px;
  margin: 25px;
  transition: all 0.5s ease-in-out;
}
.playerCard:hover {
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
}
.cpuCard {
  width: 120px;
  height: 170px;
  margin: 25px;
  transition: all 0.5s ease-in-out;
}
.cpuCard:hover {
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
}

.scoreContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  cursor: default;
}
.playerScore {
  margin: 30px;
}
.cpuScore {
  margin: 30px;
}

.dealButton {
  background-image: url(../images/dealbutton@3x.png);
  width: 245px;
  height: 93px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px;
  transition: all 0.5s ease-in-out;
}

.dealButton:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}

/* Default Selectors */

body {
  background-image: url('../images/Background.jpg');
  background-size: 100vw 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}
